.block-service-specs{
    &.full{
        flex-basis: 100%;
        max-width: 100%;
        width: 100%;
        margin-bottom: 181px;
        .wrapper-service-specs{
            .wrapper-image{
                max-width: 87%;
                width: 100%;
            }
            .service-content{
                padding-top: 45px;
                max-width: 75%;
                width: 100%;
                .wrapper-service-content{
                    .wrapper-service-list-specs{                        
                        justify-content: space-between;
                        .wrapper-service-list-each-specs{
                            max-width: 270px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    &.half{        
        flex-basis: 50%;
        max-width: 50%;
        width: 100%;
        margin-bottom: 40px;
        .wrapper-service-specs{
            .wrapper-image{
                max-width: 70%;
                width: 100%;
            }
            .service-content{
                min-width: 245px;
                max-width: 60%;
                width: 100%;
                padding-top: 30px;
                .wrapper-service-content{
                    .wrapper-service-list-specs{
                        justify-content: center;
                        .wrapper-service-list-each-specs{
                            max-width: 270px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .wrapper-service-specs{
        display: flex;
        flex-flow: column;
        align-items: center;
        .wrapper-image{
            z-index: 1;
            img{
                width: 100%;
            }
        }
        .service-content{
            transform: translateY(-30px);
            background-color: $color_4;
            border: 2px solid $color_2;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 50px;
            .wrapper-service-content{
                margin: 0 auto;
                max-width: 700px;
                width: 100%;
                display: flex;
                flex-flow: column;
                align-items: center;
                .wrapper-text{
                    &.header-text{
                        margin-bottom: 30px;
                    }
                }
                .wrapper-service-list-specs{
                    display: flex;
                    width: 100%;
                    margin-bottom: 40px;
                }
            }
        }
    }
}

@media (max-width: map-get($map: $grid-breakpoints, $key: 'md') - 1px){
    .block-service-specs{
        &.full{
            .wrapper-service-specs{
                .service-content{
                    .wrapper-service-content{
                        .wrapper-service-list-specs{
                            flex-flow: column;
                            align-items: center;
                        }
                    }
                }
            }
        }
        flex-basis: 100% !important;
        max-width: 100% !important;
        width: 100% !important;
        margin-bottom: 50px !important;
        .wrapper-service-specs{
            .wrapper-image{
                max-width: 100% !important;
                width: 100% !important;
            }
            .service-content{
                padding-top: 35px !important;
                max-width: calc(100% - 27px) !important;
                width: 100%;
                .wrapper-service-content{
                    .wrapper-text{
                        &.header-text{
                            margin-bottom: 20px !important;
                        }
                    }
                    .wrapper-service-list-specs{
                        margin-bottom: 30px !important;
                        .wrapper-service-list-each-specs{
                            max-width: 290px !important;
                            width: 100% !important;
                        }
                    }
                }
            }
        }
    }
}