.button{
    text-align: center;
    display: inline-block;
    height: 100%;
    padding-left: 61px;
    padding-right: 61px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
    transition: ease-in-out 300ms;
}